body {
    overflow: hidden;
    /*temp transform: scale(0.9); */
}
#myBtn {
    position: absolute; 
    z-index: 1000;
    background-color: #000000;
    border-width: 0;
    color: #ffffff;
    /* display: none; */
    width: 50;
    height: 20;
    pointer-events: all;
}
.excalibur-scale {
    /* transform from the top left of the element */
    transform-origin: 0 0;
    /* scale the ui */
    transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}