body {
    overflow: hidden;
    /*temp transform: scale(0.9); */
}
#myBtn {
    position: absolute; 
    z-index: 1000;
    background-color: #000000;
    border-width: 0;
    color: #ffffff;
    /* display: none; */
    width: 50;
    height: 20;
    pointer-events: all;
}